{
  "presets": [
    ["env", {
      "targets": {
        "node": 6.7
      },
      "loose": true
    }],
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    "syntax-flow",
    /*"tcomb",*/
    "transform-flow-strip-types"
  ]
}
