{
  "presets": [
    ["env", { "targets": { "node": 7 }}],
    "stage-0"
  ],
  "plugins": [
    "add-module-exports",
    "transform-runtime",
    "syntax-flow",
    "transform-flow-strip-types"
  ]
}
