{
  "extends": "bliss",
  "rules": {
    "consistent-return": "off",
    "class-methods-use-this": "off",
    "flowtype-errors/show-errors": "off",
    "fp/no-mutation": "off",
    "fp/no-rest-parameters": "off",
    "fp/no-this": "off",
    "fp/no-loops": "off",
    "fp/no-let": "off",
    "fp/no-throw": "off",
    "fp/no-class": "off",
    "import/no-extraneous-dependencies": "off",
    "no-continue": "off",
    "no-param-reassign": "off",
    "no-plusplus": "off",
    "no-bitwise": "off",
    "no-use-before-define": "off",
    "no-underscore-dangle": "off",
    "no-mixed-operators": "off",
    "no-restricted-syntax": "off"
  }
}
